<mat-toolbar
  style="box-shadow: 0px 4px 8px #aaaaaa; position: fixed; top: 0; left: 0"
  class="s-main-center"
>
  <img src="../assets/logo.svg" alt="" style="height: 70%" />
</mat-toolbar>

<nav
  class="ed-grid full bg-primary"
  style="position: fixed; bottom: 0; left: 0; border-top: 2px solid #dedede"
>
  <ul class="s-main-distribute s-mb-0 s-pl-0 s-py-1" style="list-style: none">
    <li>
      <a
        href="#"
        class="s-column s-cross-center secondary"
        style="text-decoration: none"
        ><span class="icon-home"></span> <span>Inicio</span></a
      >
    </li>
    <li>
      <a
        href="#"
        class="s-column s-cross-center white"
        style="text-decoration: none"
        ><span class="icon-clients"></span> <span>Clientes</span></a
      >
    </li>
    <li>
      <a
        href="#"
        class="s-column s-cross-center white"
        style="text-decoration: none"
        ><span class="icon-products"></span> <span>Productos</span></a
      >
    </li>
    <li>
      <a
        href="#"
        class="s-column s-cross-center white"
        style="text-decoration: none"
        ><span class="icon-config"></span> <span>Ajustes</span></a
      >
    </li>
  </ul>
</nav>
