/* You can add global styles to this file, and also import other style files */

// ed-grid variables
$prototype: true;
$dev-hover: false;
$dev: false;
// ed-grid import
@import "~ed-grid/ed-grid";

@import "./assets/iconmoon/style.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.bg-primary {
  background-color: #001e3f;
}
.bg-secondary {
  background-color: #00f2db;
}
.primary {
  color: #001e3f;
}
.secondary {
  color: #00f2db;
}
.white {
  color: white;
}
