/* You can add global styles to this file, and also import other style files */

// ed-grid variables
$prototype: true;
$dev-hover: false;
$dev: false;
// ed-grid import
@import "~ed-grid/ed-grid";

@import "./assets/iconmoon/style.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
